<h2>edit page</h2>
<% if @user.errors.any? %>
  <h2><%= @user.errors.count %>error prohibited this obj from being saved:</h2>
<% @user.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>
<% end %>
<%= form_with model: @user do |f| %>
<p>Name</p>
<%= f.text_field :name, autofocus: true %>
<p>Introduction</p>
<%= f.text_area :introduction %>
<%= f.submit "Update" %>
<% end %>