<%= render 'users/user_info_create_book', user: @user, book: @book %>

<div>
  <h2>Book detail</h2>
  <ul>
      <%= link_to user_path(@user.id) do %>
        <%= image_tag @user.get_profile_image(100, 100) %>
        <%= @user.name %>
      <% end %>
  </ul>
  <ul><%= link_to @book_user.title, book_path(@book_user.id) %></ul>
  <ul><%= @book_user.body %></ul>
</div>

